.App {
  text-align: center;
  font-size: 25px;
  background-color: bisque;
}
button{
  font-size: 25px;
  border-radius: 15px;
  background-color: azure
  ;
}
input{
  font-size: 25px;
  border-radius: 15px;
  background-color: azure
}

